## TOPIC: String Based Assignment Problem

### Question 1: Write a program to reverse a string.

In [1]:
# 1. Take input string from the user.
input_string = input("Enter a string: ")

# 2. Reverse the input string using string slicing.
reversed_string = input_string[::-1]

# 3. Print the reversed string.
print("Reversed string:", reversed_string)

Enter a string:  My Name is Salik

Reversed string: kilaS si emaN yM

### Question 2: Check if a string is a palindrome.

In [2]:
# 1. Take input string from the user.
input_string = input("Enter a string: ")

# 2. Remove spaces and convert the string to lowercase for case-insensitive comparison.
input_string = input_string.replace(" ", "").lower()

# 3. Reverse the input string.
reversed_string = input_string[::-1]

# 4. Check if the original string is equal to its reverse.
if input_string == reversed_string:
    print("The input string is a palindrome.")
else:
    print("The input string is not a palindrome.")

Enter a string:  Bob

The input string is a palindrome.

### Question 3: Convert a string to uppercase.

In [3]:
# 1. Take input string from the user.
input_string = input("Enter a string: ")

# 2. Convert the input string to uppercase.
uppercase_string = input_string.upper()

# 3. Print the string in uppercase.
print("Uppercase string:", uppercase_string)

Enter a string:  bOb the Builder

Uppercase string: BOB THE BUILDER

### Question 4: Convert a string to lowercase.

In [4]:
# 1. Take input string from the user.
input_string = input("Enter a string: ")

# 2. Convert the input string to lowercase.
lowercase_string = input_string.lower()

# 3. Print the string in lowercase.
print("Lowercase string:", lowercase_string)

Enter a string:  BOB THE BUILDER

Lowercase string: bob the builder

### Question 5: Count the number of vowels in a string.

In [5]:
# 1. Take input string from the user.
input_string = input("Enter a string: ")

# 2. Initialize a variable to count vowels.
vowel_count = 0

# 3. Iterate through each character in the string.
for char in input_string:
    if char.lower() in 'aeiou':
        vowel_count += 1

# 4. Print the number of vowels in the string.
print(f"The number of vowels in the string is: {vowel_count}")

Enter a string:  Pikachu

The number of vowels in the string is: 3

### Question 6: Count the number of consonants in a string.

In [6]:
# 1. Take input string from the user.
input_string = input("Enter a string: ")

# 2. Initialize a variable to count consonants.
consonant_count = 0

# 3. Iterate through each character in the string.
for char in input_string:
    if char.isalpha() and char.lower() not in 'aeiou':
        consonant_count += 1

# 4. Print the number of consonants in the string.
print(f"The number of consonants in the string is: {consonant_count}")

Enter a string:  Bulbasaur

The number of consonants in the string is: 5

### Question 7: Remove all whitespaces from a string.

In [7]:
# 1. Take input string from the user.
input_string = input("Enter a string: ")

# 2. Remove all whitespaces from the input string using the replace() method.
modified_string = input_string.replace(" ", "")

# 3. Print the modified string without spaces.
print("Modified string without spaces:", modified_string)

Enter a string:  Da t a  Scie nce

Modified string without spaces: DataScience

### Question 8: Find the length of a string without using the len() function.

In [8]:
# 1. Take input string from the user.
input_string = input("Enter a string: ")

# 2. Initialize a variable to count characters.
char_count = 0

# 3. Iterate through each character in the string and count them.
for char in input_string:
    char_count += 1

# 4. Print the length of the string.
print(f"The length of the string is: {char_count}")

Enter a string:  Data Science

The length of the string is: 12

### Question 9: Check if a string contains a specific word.

In [9]:
# 1. Take input string from the user.
input_string = input("Enter a string: ")

# 2. Take the word to search from the user.
word_to_search = input("Enter the word to search for: ")

# 3. Check if the word is present in the input string.
if word_to_search in input_string:
    print(f"The input string contains the word '{word_to_search}'.")
else:
    print(f"The input string does not contain the word '{word_to_search}'.")

Enter a string:  Full Stack Data Science Pro Batch
Enter the word to search for:  Pro

The input string contains the word 'Pro'.

### Question 10: Replace a word in a string with another word.

In [10]:
# 1. Take input string from the user.
input_string = input("Enter a string: ")

# 2. Take the word to replace and the replacement word from the user.
word_to_replace = input("Enter the word to replace: ")
replacement_word = input("Enter the replacement word: ")

# 3. Replace the word in the input string with the replacement word.
modified_string = input_string.replace(word_to_replace, replacement_word)

# 4. Print the modified string.
print("Modified string:", modified_string)

Enter a string:  Full Stack Data Science Masters
Enter the word to replace:  Masters
Enter the replacement word:  Pro

Modified string: Full Stack Data Science Pro

### Question 11: Count the occurrences of a word in a string.

In [11]:
# 1. Define a string.
string1 = "This is an example string for testing purposes. This string contains multiple words."

# 2. Define the word to count.
word_to_count = "string"

# 3. Count the occurrences of the word in the string (case-insensitive).
word_count = string1.lower().count(word_to_count.lower())

# 4. Print the count of occurrences.
print(f"The word '{word_to_count}' occurs {word_count} times in the string.")

The word 'string' occurs 2 times in the string.

### Question 12: Find the first occurrence of a word in a string.

In [12]:
# 1. Define the word to find.
word_to_find = "This"

# 2. Find the first occurrence of the word in the string (case-insensitive).
first_occurrence = string1.lower().find(word_to_find.lower())

# 3. Print the index of the first occurrence.
print(f"The first occurrence of the word '{word_to_find}' starts at index {first_occurrence}.")

The first occurrence of the word 'This' starts at index 0.

### Question 13: Find the last occurrence of a word in a string.

In [13]:
# 1. Define the word to find.
word_to_find = "This"

# 2. Find the last occurrence of the word in the string (case-insensitive).
last_occurrence = string1.lower().rfind(word_to_find.lower())

# 3. Print the index of the last occurrence.
print(f"The last occurrence of the word '{word_to_find}' starts at index {last_occurrence}.")

The last occurrence of the word 'This' starts at index 48.

### Question 14: Split a string into a list of words.

In [14]:
# 1. Split the string into a list of words using whitespace as the separator.
words_list = string1.split()

# 2. Print the list of words.
print("List of words:", words_list)

List of words: ['This', 'is', 'an', 'example', 'string', 'for', 'testing', 'purposes.', 'This', 'string', 'contains', 'multiple', 'words.']

### Question 15: Join a list of words into a string.

In [15]:
# 1. Define a list of words.
words_list = ["This", "is", "a", "list", "of", "words"]

# 2. Join the list of words into a string using whitespace as the separator.
joined_string = " ".join(words_list)

# 3. Print the joined string.
print("Joined string:", joined_string)

Joined string: This is a list of words

### Question 16: Convert a string where words are separated by spaces to one where words are separated by underscores.

In [16]:
# 1. Replace spaces with underscores in the string.
underscored_string = string1.replace(" ", "_")

# 2. Print the modified string.
print("String with underscores:", underscored_string)

String with underscores: This_is_an_example_string_for_testing_purposes._This_string_contains_multiple_words.

### Question 17: Check if a string starts with a specific word or phrase.

In [17]:
# 1. Define the specific word or phrase to check.
start_word = "This"

# 2. Check if the string starts with the specific word (case-sensitive).
starts_with_word = string1.startswith(start_word)

# 3. Print the result.
if starts_with_word:
    print(f"The string starts with '{start_word}'.")
else:
    print(f"The string does not start with '{start_word}'.")

The string starts with 'This'.

### Question 18: Check if a string ends with a specific word or phrase.

In [18]:
# 1. Define the specific word or phrase to check.
end_word = "words."

# 2. Check if the string ends with the specific word (case-sensitive).
ends_with_word = string1.endswith(end_word)

# 3. Print the result.
if ends_with_word:
    print(f"The string ends with '{end_word}'.")
else:
    print(f"The string does not end with '{end_word}'.")

The string ends with 'words.'.

### Question 19: Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
# 1. Convert the string to title case.
title_case_string = string1.title()

# 2. Print the string in title case.
print("Title case string:", title_case_string)

Title case string: This Is An Example String For Testing Purposes. This String Contains Multiple Words.

### Question 20: Find the longest word in a string.

In [20]:
# 1. Split the string into a list of words.
words_list = string1.split()

# 2. Find the longest word in the list.
longest_word = max(words_list, key=len)

# 3. Print the longest word.
print("Longest word in the string:", longest_word)

Longest word in the string: purposes.

### Question 21: Find the shortest word in a string.

In [21]:
# 1. Split the string into a list of words.
words_list = string1.split()

# 2. Find the shortest word in the list.
shortest_word = min(words_list, key=len)

# 3. Print the shortest word.
print("Shortest word in the string:", shortest_word)

Shortest word in the string: is

### Question 22: Reverse the order of words in a string.

In [22]:
# 1. Split the string into a list of words.
words_list = string1.split()

# 2. Reverse the order of words in the list.
reversed_string = " ".join(reversed(words_list))

# 3. Print the reversed string.
print("Reversed order of words:", reversed_string)

Reversed order of words: words. multiple contains string This purposes. testing for string example an is This

### Question 23: Check if a string is alphanumeric.

In [28]:
# 1. Check if the string consists only of alphanumeric characters.
is_alphanumeric = string1.isalnum()

# 2. Print the result.
if is_alphanumeric:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is not alphanumeric.

### Question 24: Extract all digits from a string.

In [30]:
# 1. Initialize an empty string to store the extracted digits.
extracted_digits = []
str2 = 'Data 1 Science 2 Pro 3'

# 2. Iterate through each character in the string.
for char in str2:
    # 3. Check if the character is a digit.
    if char.isdigit():
        # 4. If it's a digit, add it to the extracted_digits string.
        extracted_digits.append(char)

# 5. Print the extracted digits.
print("Extracted digits:", extracted_digits)

Extracted digits: ['1', '2', '3']

### Question 25: Extract all alphabets from a string.

In [39]:
# 1. Initialize an empty string to store the extracted alphabets.
extracted_alpha = []
str2 = 'Data 1 Science 2 Pro 3'

# 2. Iterate through each character in the string.
for char in str2:
    # 3. Check if the character is a alphabet.
    if char.isalpha():
        # 4. If it's a digit, add it to the extracted_digits string.
        extracted_alpha.append(char)

# 5. Print the extracted digits.
print("Extracted alphabets:", extracted_alpha)

Extracted alphabets: ['D', 'a', 't', 'a', 'S', 'c', 'i', 'e', 'n', 'c', 'e', 'P', 'r', 'o']

### Question 26: Count the number of uppercase letters in a string.

In [38]:
# 1. Count the number of uppercase letters in the string.
uppercase_count = sum(1 for char in string1 if char.isupper())

# 2. Print the count of uppercase letters.
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 2

### Question 27: Count the number of lowercase letters in a string.

In [40]:
# 1. Count the number of lowercase letters in the string.
lowercase_count = sum(1 for char in string1 if char.islower())

# 2. Print the count of lowercase letters.
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 68

### Question 28: Swap the case of each character in a string.

In [43]:
# 1. Swap the case of each character in the string.
swapped_case_string = string1.swapcase()

# 2. Print the string with swapped case.
print("String with swapped case:", swapped_case_string)

String with swapped case: tHIS IS AN EXAMPLE STRING FOR TESTING PURPOSES. tHIS STRING CONTAINS MULTIPLE WORDS.

### Question 29: Remove a specific word from a string.

In [44]:
# 1. Define the specific word to remove.
word_to_remove = "example"

# 2. Remove the specific word from the string.
modified_string = string1.replace(word_to_remove, "")

# 3. Print the modified string.
print("Modified string after removing the word:", modified_string)

Modified string after removing the word: This is an  string for testing purposes. This string contains multiple words.

### Question 30: Check if a string is a valid email address.

In [49]:
import re

# 1. Define an email string.
email = 'ansarisalik0@gmail.com'

# 2. Define a regular expression pattern to check for a valid email address.
email_pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'

# 3. Use regular expressions to check if the string matches the email pattern.
is_valid_email = re.match(email_pattern, email) is not None

# 3. Print the result.
if is_valid_email:
    print("The string is a valid email address.")
else:
    print("The string is not a valid email address.")

The string is a valid email address.

### Question 31: Extract the username from an email address string.

In [51]:
# 1. Define an email address string.
email_address = "ansarisalik0@gmail.com"

# 2. Extract the username by splitting the email address at '@'.
username = email_address.split("@")[0]

# 3. Print the extracted username.
print("Extracted username:", username)

Extracted username: ansarisalik0

### Question 32: Extract the domain name from an email address string.

In [52]:
# 1. Define an email address string.
email_address = "ansarisalik0@gmail.com"

# 2. Extract the domain name by splitting the email address at '@'.
domain_name = email_address.split("@")[1]

# 3. Print the extracted domain name.
print("Extracted domain name:", domain_name)

Extracted domain name: gmail.com

### Question 33: Replace multiple spaces in a string with a single space.

In [53]:
# 1. Define a string with multiple spaces.
string3 = "This   is   a   string   with   multiple   spaces."

# 2. Replace multiple spaces with a single space using 'split' and 'join'.
string_with_single_space = " ".join(string3.split())

# 3. Print the string with single spaces.
print("String with single spaces:", string_with_single_space)

String with single spaces: This is a string with multiple spaces.

### Question 34: Check if a string is a valid URL.

In [54]:
# 1. Define a string to check as a URL.
url_to_check = "https://www.example.com"

# 2. Check if the string starts with 'http://' or 'https://'.
is_valid_url = url_to_check.startswith("http://") or url_to_check.startswith("https://")

# 3. Print the result.
if is_valid_url:
    print("The string is a valid URL.")
else:
    print("The string is not a valid URL.")

The string is a valid URL.

### Question 35: Extract the protocol (http or https) from a URL string.

In [55]:
# 1. Define a URL string.
url_string = "https://www.example.com"

# 2. Extract the protocol by splitting the URL at '://'.
protocol = url_string.split("://")[0]

# 3. Print the extracted protocol.
print("Extracted protocol:", protocol)

Extracted protocol: https

### Question 36: Find the frequency of each character in a string.

In [57]:
# 1. Define a string.
input_string = "Data Science Masters Pro"

# 2. Initialize an empty dictionary to store character frequencies.
char_frequency = {}

# 3. Iterate through each character in the string.
for char in input_string:
    # 4. Count the frequency of each character.
    char_frequency[char] = char_frequency.get(char, 0) + 1

# 5. Print the character frequencies.
print("Character frequencies:", char_frequency)

Character frequencies: {'D': 1, 'a': 3, 't': 2, ' ': 3, 'S': 1, 'c': 2, 'i': 1, 'e': 3, 'n': 1, 'M': 1, 's': 2, 'r': 2, 'P': 1, 'o': 1}

### Question 37: Remove all punctuation from a string.

In [1]:
import string

# 1. Define a string with punctuation.
string_with_punctuation = "Hello, World! This is a test string."

# 2. Remove punctuation using translation.
translator = str.maketrans('', '', string.punctuation)
string_without_punctuation = string_with_punctuation.translate(translator)

# 3. Print the string without punctuation.
print("String without punctuation:", string_without_punctuation)

String without punctuation: Hello World This is a test string

### Question 38: Check if a string contains only digits.

In [2]:
# 1. Define a string to check.
string_to_check = "12345"

# 2. Check if the string contains only digits.
contains_only_digits = string_to_check.isdigit()

# 3. Print the result.
if contains_only_digits:
    print("The string contains only digits.")
else:
    print("The string does not contain only digits.")

The string contains only digits.

### Question 39: Check if a string contains only alphabets.

In [3]:
# 1. Define a string to check.
string_to_check = "HelloWorld"

# 2. Check if the string contains only alphabets.
contains_only_alphabets = string_to_check.isalpha()

# 3. Print the result.
if contains_only_alphabets:
    print("The string contains only alphabets.")
else:
    print("The string does not contain only alphabets.")

The string contains only alphabets.

### Question 40: Convert a string to a list of characters.

In [4]:
# 1. Define a string.
input_string = "Hello, World!"

# 2. Convert the string to a list of characters.
char_list = list(input_string)

# 3. Print the list of characters.
print("List of characters:", char_list)

List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

### Question 41: Check if two strings are anagrams.

In [6]:
# 1. Define two strings to check for anagrams.
string1 = "listen"
string2 = "silent"

# 2. Check if the two strings are anagrams by sorting and comparing them.
is_anagram = sorted(string1) == sorted(string2)

# 3. Print the result.
if is_anagram:
    print("The two strings are anagrams.")
else:
    print("The two strings are not anagrams.")

The two strings are anagrams.

### Question 42: Encode a string using a Caesar cipher.

In [8]:
# 1. Define a string to encode.
input_string = "Hello, World! * 3"

# 2. Define the Caesar cipher shift value.
shift = 3

# 3. Initialize an empty string to store the encoded result.
encoded_string = ""

# 4. Iterate through each character in the input string.
for char in input_string:
    if char.isalpha():
        # 5. Determine whether the character is uppercase or lowercase.
        is_upper = char.isupper()
        
        # 6. Apply the Caesar cipher shift.
        char_code = ord(char) - ord('A') if is_upper else ord(char) - ord('a')
        encoded_char = chr((char_code + shift) % 26 + ord('A' if is_upper else 'a'))
        
        # 7. Append the encoded character to the result.
        encoded_string += encoded_char
    else:
        # 8. If the character is not alphabetic, leave it unchanged.
        encoded_string += char

# 9. Print the encoded string.
print("Encoded string:", encoded_string)

Encoded string: Khoor, Zruog! * 3

### Question 43: Decode a Caesar cipher encoded string.

In [9]:
# 1. Define an encoded string to decode.
encoded_string = "Khoor, Zruog!"

# 2. Define the Caesar cipher shift value (must match the encoding shift).
shift = 3

# 3. Initialize an empty string to store the decoded result.
decoded_string = ""

# 4. Iterate through each character in the encoded string.
for char in encoded_string:
    if char.isalpha():
        # 5. Determine whether the character is uppercase or lowercase.
        is_upper = char.isupper()
        
        # 6. Apply the Caesar cipher shift in reverse.
        char_code = ord(char) - ord('A') if is_upper else ord(char) - ord('a')
        decoded_char = chr((char_code - shift) % 26 + ord('A' if is_upper else 'a'))
        
        # 7. Append the decoded character to the result.
        decoded_string += decoded_char
    else:
        # 8. If the character is not alphabetic, leave it unchanged.
        decoded_string += char

# 9. Print the decoded string.
print("Decoded string:", decoded_string)

Decoded string: Hello, World!

### Question 44: Find the most frequent word in a string.

In [10]:
# 1. Define a string.
input_string = "This is a sample string with repeated words. This is an example of a string."

# 2. Split the string into words.
words = input_string.split()

# 3. Initialize a dictionary to store word frequencies.
word_frequency = {}

# 4. Iterate through the words and count their frequencies.
for word in words:
    word_frequency[word] = word_frequency.get(word, 0) + 1

# 5. Find the most frequent word.
most_frequent_word = max(word_frequency, key=word_frequency.get)

# 6. Print the most frequent word and its frequency.
print("Most frequent word:", most_frequent_word)
print("Frequency:", word_frequency[most_frequent_word])

Most frequent word: This
Frequency: 2

### Question 45: Find all unique words in a string.

In [11]:
# 1. Define a string.
input_string = "This is a sample string with repeated words. This is an example of a string."

# 2. Split the string into words.
words = input_string.split()

# 3. Use a set to store unique words.
unique_words = set(words)

# 4. Convert the set back to a list if needed.
unique_words_list = list(unique_words)

# 5. Print the unique words.
print("Unique words:", unique_words_list)

Unique words: ['This', 'is', 'an', 'example', 'of', 'string.', 'a', 'words.', 'with', 'repeated', 'string', 'sample']

### Question 46: Count the number of syllables in a string.

In [12]:
# 1. Define a string with a word to count syllables.
word = "syllables"

# 2. Count the number of vowels (assuming vowels represent syllables).
syllable_count = sum(1 for char in word if char.lower() in "aeiouy")

# 3. Print the syllable count.
print("Number of syllables:", syllable_count)

Number of syllables: 3

### Question 47: Check if a string contains any special characters.

In [13]:
# 1. Define a string to check.
input_string = "This is a string with 123@%Li$^."

# 2. Define a set of special characters.
special_characters = set("!@#$%^&*()_+-=[]{}|;:,.<>?")

# 3. Check if the string contains any special characters.
contains_special_characters = any(char in special_characters for char in input_string)

# 4. Print the result.
if contains_special_characters:
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

### Question 48: Remove the nth word from a string.

In [14]:
# 1. Define a string.
input_string = "This is a sample sentence to remove the nth word."

# 2. Split the string into words.
words = input_string.split()

# 3. Define the index (n) of the word to remove (0-based index).
n = 3  # Change this to the desired index.

# 4. Check if the index is valid.
if 0 <= n < len(words):
    # 5. Remove the nth word from the list of words.
    del words[n]

    # 6. Reconstruct the string with the updated list of words.
    updated_string = " ".join(words)

    # 7. Print the updated string.
    print("Updated string:", updated_string)
else:
    print("Invalid index. No word removed.")

Updated string: This is a sentence to remove the nth word.

### Question 49: Insert a word at the nth position in a string.

In [15]:
# 1. Define a string.
input_string = "This is a sample sentence to insert a word."

# 2. Split the string into words.
words = input_string.split()

# 3. Define the index (n) where the word will be inserted (0-based index).
n = 3  # Change this to the desired index.

# 4. Define the word to insert.
word_to_insert = "new_word"

# 5. Check if the index is valid.
if 0 <= n <= len(words):
    # 6. Insert the word at the specified index.
    words.insert(n, word_to_insert)

    # 7. Reconstruct the string with the updated list of words.
    updated_string = " ".join(words)

    # 8. Print the updated string.
    print("Updated string:", updated_string)
else:
    print("Invalid index. No word inserted.")

Updated string: This is a new_word sample sentence to insert a word.

### Question 50: Convert a CSV string to a list of lists.

In [16]:
# 1. Define a CSV string.
csv_string = "Name,Age,Location\nJohn,30,New York\nAlice,25,Los Angeles"

# 2. Split the CSV string into lines.
csv_lines = csv_string.split('\n')

# 3. Initialize an empty list to store the result.
csv_data = []

# 4. Iterate through the lines and split each line into a list.
for line in csv_lines:
    csv_data.append(line.split(','))

# 5. Print the list of lists (CSV data).
print("CSV data:")
for row in csv_data:
    print(row)

CSV data:
['Name', 'Age', 'Location']
['John', '30', 'New York']
['Alice', '25', 'Los Angeles']

## List Based Practice Problem :

### Question 1: Create a list with integers from 1 to 10.

In [1]:
# 1. Create a list with integers from 1 to 10.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Question 2: Find the length of a list without using the len() function.

In [2]:
# 1. Initialize a counter variable.
count = 0

# 2. Iterate through the list and increment the counter for each element.
for element in my_list:
    count += 1

# 3. Print the length of the list.
print("Length of the list:", count)

Length of the list: 10

### Question 3: Append an element to the end of a list.

In [3]:
# 1. Append an element to the end of the list.
my_list.append(11)

# 2. Print the updated list.
print("Updated list:", my_list)

Updated list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### Question 4: Insert an element at a specific index in a list.

In [4]:
# 1. Insert an element at a specific index (e.g., index 3).
my_list.insert(3, 42)

# 2. Print the updated list.
print("Updated list:", my_list)

Updated list: [1, 2, 3, 42, 4, 5, 6, 7, 8, 9, 10, 11]

### Question 5: Remove an element from a list by its value.

In [5]:
# 1. Remove an element from the list by its value (e.g., remove 5).
my_list.remove(5)

# 2. Print the updated list.
print("Updated list:", my_list)

Updated list: [1, 2, 3, 42, 4, 6, 7, 8, 9, 10, 11]

### Question 6: Remove an element from a list by its index.

In [6]:
# 1. Remove an element from the list by its index (e.g., index 2).
del my_list[2]

# 2. Print the updated list.
print("Updated list:", my_list)

Updated list: [1, 2, 42, 4, 6, 7, 8, 9, 10, 11]

### Question 7: Check if an element exists in a list.

In [7]:
# 1. Check if an element (e.g., 7) exists in the list.
element_exists = 7 in my_list

# 2. Print the result.
if element_exists:
    print("Element exists in the list.")
else:
    print("Element does not exist in the list.")

Element exists in the list.

### Question 8: Find the index of the first occurrence of an element in a list.

In [8]:
# 1. Find the index of the first occurrence of an element (e.g., 4) in the list.
index = my_list.index(4)

# 2. Print the index.
print("Index of the element:", index)

Index of the element: 3

### Question 9: Count the occurrences of an element in a list.

In [10]:
# 1. Count the occurrences of an element (e.g., 3) in the list.
count = my_list.count(4)

# 2. Print the count.
print("Count of the element:", count)

Count of the element: 1

### Question 10: Reverse the order of elements in a list.

In [11]:
# 1. Reverse the order of elements in the list.
my_list.reverse()

# 2. Print the reversed list.
print("Reversed list:", my_list)

Reversed list: [11, 10, 9, 8, 7, 6, 4, 42, 2, 1]

### Question 11: Sort a list in ascending order.

In [12]:
# 1. Sort the list in ascending order.
my_list.sort()

# 2. Print the sorted list.
print("Sorted list (ascending):", my_list)

Sorted list (ascending): [1, 2, 4, 6, 7, 8, 9, 10, 11, 42]

### Question 12: Sort a list in descending order.

In [13]:
# 1. Sort the list in descending order.
my_list.sort(reverse=True)

# 2. Print the sorted list.
print("Sorted list (descending):", my_list)

Sorted list (descending): [42, 11, 10, 9, 8, 7, 6, 4, 2, 1]

### Question 13: Create a list of even numbers from 1 to 20.

In [15]:
# 1. Create a list of even numbers from 1 to 20.
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Question 14: Create a list of odd numbers from 1 to 20.

In [16]:
# 1. Create a list of odd numbers from 1 to 20.
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]
odd_numbers

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Question 15: Find the sum of all elements in a list.

In [17]:
# 1. Find the sum of all elements in the list.
sum_of_elements = sum(my_list)

# 2. Print the sum.
print("Sum of elements:", sum_of_elements)

Sum of elements: 100

### Question 16: Find the maximum value in a list.

In [18]:
# 1. Find the maximum value in the list.
max_value = max(my_list)

# 2. Print the maximum value.
print("Maximum value:", max_value)

Maximum value: 42

### Question 17: Find the minimum value in a list.

In [19]:
# 1. Find the minimum value in the list.
min_value = min(my_list)

# 2. Print the minimum value.
print("Minimum value:", min_value)

Minimum value: 1

### Question 18: Create a list of squares of numbers from 1 to 10.

In [23]:
# 1. Create a list of squares of numbers from 1 to 10.
squares = [x ** 2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 19: Create a list of random numbers.

In [24]:
# 1. Import the random module.
import random

# 2. Create a list of 5 random numbers between 1 and 100.
random_numbers = [random.randint(1, 100) for _ in range(5)]
print(random_numbers)

[11, 87, 53, 81, 29]

### Question 20: Remove duplicates from a list.

In [22]:
# 1. Create a list with duplicates.
my_list = [1, 2, 2, 3, 4, 4, 5]

# 2. Remove duplicates by converting the list to a set and back to a list.
my_list = list(set(my_list))
print(my_list)

[1, 2, 3, 4, 5]

### Question 21: Find the common elements between two lists.

In [4]:
# 1. Define two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# 2. Find the common elements using set intersection.
common_elements = list(set(list1) & set(list2))
print(common_elements)

[3, 4, 5]

### Question 22: Find the difference between two lists.

In [11]:
# 1. Define two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# 2. Find the difference between lists using set operations.
set1 = set(list1)
set2 = set(list2)

difference = list(set1.symmetric_difference(set2))

print(difference)

[1, 2, 6, 7]

### Question 23: Merge two lists.

In [20]:
# 1. Define two lists.
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# 2. Merge the two lists by extending one with the other.
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

### Question 24: Multiply all elements in a list by 2.

In [24]:
# 1. Multiply all elements in the list by 2 using list comprehension.
my_list = [x * 2 for x in my_list]
print(my_list)

[4, 8, 12, 16, 20]

### Question 25: Filter out all even numbers from a list.

In [26]:
# 1. Filter out even numbers using list comprehension.
my_list = [1, 2, 2, 3, 4, 4, 5]
my_list = [x for x in my_list if x % 2 != 0]
print(my_list)

[1, 3, 5]

### Question 26: Convert a list of strings to a list of integers.

In [27]:
# 1. Create a list of strings.
string_list = ["1", "2", "3", "4", "5"]

# 2. Convert the list of strings to a list of integers.
int_list = [int(x) for x in string_list]
print(int_list)

[1, 2, 3, 4, 5]

### Question 27: Convert a list of integers to a list of strings.

In [28]:
# 1. Create a list of integers.
int_list = [1, 2, 3, 4, 5]

# 2. Convert the list of integers to a list of strings.
string_list = [str(x) for x in int_list]
print(string_list)

['1', '2', '3', '4', '5']

### Question 28: Flatten a nested list.

In [30]:
# 1. Define a nested list.
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

# 2. Flatten the nested list using list comprehension.
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

### Question 29: Create a list of the first 10 Fibonacci numbers.

In [31]:
# 1. Initialize a list with the first two Fibonacci numbers.
fibonacci_list = [0, 1]

# 2. Calculate and append the next Fibonacci numbers.
for i in range(2, 10):
    next_fib = fibonacci_list[-1] + fibonacci_list[-2]
    fibonacci_list.append(next_fib)
    
print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Question 30: Check if a list is sorted.

In [33]:
# 1. Check if the list is sorted in ascending order.
is_sorted = all(fibonacci_list[i] <= fibonacci_list[i+1] for i in range(len(fibonacci_list) - 1))

print(is_sorted)

True

### Question 31: Rotate a list to the left by n positions.

In [36]:
# 1. Rotate the list to the left by `n` positions.
n = 3

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
rotated_list = my_list[n:] + my_list[:n]

print(rotated_list)

[4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

### Question 32: Rotate a list to the right by n positions.

In [37]:
# 1. Rotate the list to the right by `n` positions.
n = 2
rotated_list = my_list[-n:] + my_list[:-n]
print(rotated_list)

[9, 10, 1, 2, 3, 4, 5, 6, 7, 8]

### Question 33: Create a list of prime numbers up to 50.

In [47]:
# 1. Define a function to check if a number is prime.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num/2) + 1):
        if num % i == 0:
            return False
    return True

# 2. Create a list of prime numbers up to 50.
prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### Question 34: Split a list into chunks of size n.

In [51]:
# 1. Define a function to split a list into chunks.
def split_list(input_list, chunk_size):
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

# 2. Split the list into chunks of size `n`.
chunk_size = 5
chunks = split_list(my_list, chunk_size)
print(chunks)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]

### Question 35: Find the second largest number in a list.

In [55]:
# 1. Find the second largest number in the list.
second_largest = max(set(my_list) - {max(my_list)})
print(second_largest)

9

### Question 36: Replace every element in a list with its square.

In [56]:
# 1. Replace every element in the list with its square using list comprehension.
my_list = [x ** 2 for x in my_list]
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 37: Convert a list to a dictionary where list elements become keys and their indices become values.

In [58]:
# 1. Convert a list to a dictionary where list elements become keys and indices become values.
my_dict = {value: index for index, value in enumerate(my_list)}
print(my_dict)

{1: 0, 4: 1, 9: 2, 16: 3, 25: 4, 36: 5, 49: 6, 64: 7, 81: 8, 100: 9}

### Question 38: Shuffle the elements of a list randomly.

In [62]:
# 1. Import the random module.
import random

# 2. Shuffle the elements of the list randomly.
random.shuffle(my_list)
print(my_list)

[25, 4, 9, 81, 36, 49, 100, 64, 1, 16]

### Question 39: Create a list of the first 10 factorial numbers.

In [63]:
# 1. Define a function to calculate the factorial of a number.
def factorial(num):
    if num == 0:
        return 1
    else:
        return num * factorial(num - 1)

# 2. Create a list of the first 10 factorial numbers.
factorial_list = [factorial(i) for i in range(10)]
print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### Question 40: Check if two lists have at least one element in common.

In [66]:
# 1. Define two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# 2. Check if there is at least one common element using set intersection.
has_common_elements = bool(set(list1).intersection(list2))
print(has_common_elements)

True

### Question 41: Remove all elements from a list.

In [67]:
# 1. Remove all elements from the list.
my_list.clear()
print(my_list)

[]

### Question 42: Replace negative numbers in a list with 0.

In [71]:
# 1. Replace negative numbers in the list with 0 using list comprehension.
list1 = [-5, -4, -2, 0, 1, 2, 3, 4, 5]
my_list = [0 if x < 0 else x for x in list1]
print(my_list)

[0, 0, 0, 0, 1, 2, 3, 4, 5]

### Question 43: Convert a string into a list of words.

In [72]:
# 1. Define a string.
input_string = "This is a sample sentence."

# 2. Convert the string into a list of words.
word_list = input_string.split()
print(word_list)

['This', 'is', 'a', 'sample', 'sentence.']

### Question 44: Convert a list of words into a string.

In [73]:
# 1. Define a list of words.
word_list = ["This", "is", "a", "list", "of", "words"]

# 2. Convert the list of words into a string.
output_string = " ".join(word_list)
print(output_string)

This is a list of words

### Question 45: Create a list of the first n powers of 2.

In [74]:
# 1. Define the value of `n`.
n = 5

# 2. Create a list of the first `n` powers of 2.
powers_of_2 = [2 ** i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

### Question 46: Find the longest string in a list of strings.

In [76]:
# 1. Define a list of strings.
string_list = ["apple", "banana", "cherry", "date", "fig"]

# 2. Find the longest string in the list.
longest_string = max(string_list, key=len)
print(longest_string)

banana

### Question 47: Find the shortest string in a list of strings.

In [77]:
# 1. Define a list of strings.
string_list = ["apple", "banana", "cherry", "date", "fig"]

# 2. Find the shortest string in the list.
shortest_string = min(string_list, key=len)
print(shortest_string)

fig

### Question 48: Create a list of the first n triangular numbers.

In [78]:
# 1. Define the value of `n`.
n = 5

# 2. Create a list of the first `n` triangular numbers.
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]
print(triangular_numbers)

[1, 3, 6, 10, 15]

### Question 49: Check if a list contains another list as a subsequence.

In [79]:
# 1. Define two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [2, 3, 4]

# 2. Check if list2 is a subsequence of list1.
is_subsequence = all(elem in list1 for elem in list2)
print(is_subsequence)

True

### Question 50: Swap two elements in a list by their indices.

In [80]:
# 1. Define two indices to swap.
index1 = 2
index2 = 4

# 2. Swap the elements at the specified indices.
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
print(my_list)

[0, 0, 1, 0, 0, 2, 3, 4, 5]

## Tuple Based Practice Problem :

**Question 1:** Create a tuple with integers from 1 to 5.

In [2]:
# 1. Create a tuple with integers from 1 to 5.
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

**Question 2:** Access the third element of a tuple.

In [2]:
# 2. Access the third element of a tuple.
third_element = my_tuple[2]
third_element

3

**Question 3:** Find the length of a tuple without using the `len()` function.

In [3]:
# 3. Find the length of a tuple without using the `len()` function.
length = sum(1 for _ in my_tuple)
length

5

**Question 4:** Count the occurrences of an element in a tuple.

In [4]:
# 4. Count the occurrences of an element in a tuple.
my_tuple.count(3)

1

**Question 5:** Find the index of the first occurrence of an element in a tuple.

In [5]:
# 5. Find the index of the first occurrence of an element in a tuple.
my_tuple.index(3)

2

**Question 6:** Check if an element exists in a tuple.

In [6]:
# 6. Check if an element exists in a tuple.
exists = 3 in my_tuple
exists

True

**Question 7:** Convert a tuple to a list.

In [7]:
# 7. Convert a tuple to a list.
my_list = list(my_tuple)
my_list

[1, 2, 3, 4, 5]

**Question 8:** Convert a list to a tuple.

In [8]:
# 8. Convert a list to a tuple.
my_tuple = tuple(my_list)
my_tuple

(1, 2, 3, 4, 5)

**Question 9:** Unpack the elements of a tuple into variables.

In [3]:
# 9. Unpack the elements of a tuple into variables.
var1, var2, var3, var4, var5 = my_tuple
print(var1, var2)

1 2

**Question 10:** Create a tuple of even numbers from 1 to 10.

In [10]:
# 10. Create a tuple of even numbers from 1 to 10.
even_numbers = tuple(range(2, 11, 2))
even_numbers

(2, 4, 6, 8, 10)

**Question 11:** Concatenate two tuples.

In [11]:
# 11. Concatenate two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result_tuple = tuple1 + tuple2
result_tuple

(1, 2, 3, 4, 5, 6)

**Question 12:** Repeat a tuple three times.

In [12]:
# 12. Repeat a tuple three times.
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
repeated_tuple

(1, 2, 3, 1, 2, 3, 1, 2, 3)

**Question 13:** Check if a tuple is empty.

In [13]:
# 13. Check if a tuple is empty.
my_tuple = ()
is_empty = len(my_tuple) == 0
is_empty

True

**Question 14:** Create a nested tuple.

In [14]:
# 14. Create a nested tuple.
nested_tuple = ((1, 2), (3, 4))
nested_tuple

((1, 2), (3, 4))

**Question 15:** Access the first element of a nested tuple.

In [15]:
# 15. Access the first element of a nested tuple.
first_element = nested_tuple[0][0]
first_element

1

**Question 16:** Create a tuple with a single element.

In [16]:
# 16. Create a tuple with a single element.
single_element_tuple = (42,)
single_element_tuple

(42,)

**Question 17:** Compare two tuples.

In [17]:
# 17. Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_equal = tuple1 == tuple2
are_equal

True

**Question 18:** Delete a tuple.

In [18]:
# 18. Delete a tuple.
del my_tuple

**Question 19:** Slice a tuple.

In [21]:
# 19. Slice a tuple.
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]
sliced_tuple

(2, 3, 4)

**Question 20:** Find the maximum value in a tuple.

In [22]:
# 20. Find the maximum value in a tuple.
max_value = max(my_tuple)
max_value

5

**Question 21:** Find the minimum value in a tuple.

In [23]:
# 21. Find the minimum value in a tuple.
min_value = min(my_tuple)
min_value

1

**Question 22:** Convert a string to a tuple of characters.

In [24]:
# 22. Convert a string to a tuple of characters.
my_string = 'hello'
char_tuple = tuple(my_string)
char_tuple

('h', 'e', 'l', 'l', 'o')

**Question 23:** Convert a tuple of characters to a string.

In [25]:
# 23. Convert a tuple of characters to a string.
char_tuple = ('h', 'e', 'l', 'l', 'o')
my_string = ''.join(char_tuple)
my_string

'hello'

**Question 24:** Create a tuple from multiple data types.

In [26]:
# 24. Create a tuple from multiple data types.
mixed_tuple = (1, 'hello', 3.14, True)
mixed_tuple

(1, 'hello', 3.14, True)

**Question 25:** Check if two tuples are identical.

In [27]:
# 25. Check if two tuples are identical.
are_identical = tuple1 == tuple2
are_identical

True

**Question 26:** Sort the elements of a tuple.

In [28]:
# 26. Sort the elements of a tuple.
sorted_tuple = tuple(sorted(my_tuple))
sorted_tuple

(1, 2, 3, 4, 5)

**Question 27:** Convert a tuple of integers to a tuple of strings.

In [29]:
# 27. Convert a tuple of integers to a tuple of strings.
string_tuple = tuple(str(item) for item in my_tuple)
string_tuple

('1', '2', '3', '4', '5')

**Question 28:** Convert a tuple of strings to a tuple of integers.

In [30]:
# 28. Convert a tuple of strings to a tuple of integers.
integer_tuple = tuple(int(item) for item in string_tuple)
integer_tuple

(1, 2, 3, 4, 5)

**Question 29:** Merge two tuples.

In [31]:
# 29. Merge two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
merged_tuple

(1, 2, 3, 4, 5, 6)

**Question 30:** Flatten a nested tuple.

In [32]:
# 30. Flatten a nested tuple.
nested_tuple = ((1, 2), (3, 4))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
flattened_tuple

(1, 2, 3, 4)

**Question 31:** Create a tuple of the first 5 prime numbers.

In [33]:
# 31. Create a tuple of the first 5 prime numbers.
prime_numbers = (2, 3, 5, 7, 11)
prime_numbers

(2, 3, 5, 7, 11)

**Question 32:** Check if a tuple is a palindrome.

In [34]:
# 32. Check if a tuple is a palindrome.
is_palindrome = my_tuple == my_tuple[::-1]
is_palindrome

False

**Question 33:** Create a tuple of squares of numbers from 1 to 5.

In [35]:
# 33. Create a tuple of squares of numbers from 1 to 5.
squares_tuple = tuple(i**2 for i in range(1, 6))
squares_tuple

(1, 4, 9, 16, 25)

**Question 34:** Filter out all even numbers from a tuple.

In [36]:
# 34. Filter out all even numbers from a tuple.
filtered_tuple = tuple(item for item in my_tuple if item % 2 != 0)
filtered_tuple

(1, 3, 5)

**Question 35:** Multiply all elements in a tuple by 2.

In [37]:
# 35. Multiply all elements in a tuple by 2.
doubled_tuple = tuple(item * 2 for item in my_tuple)
doubled_tuple

(2, 4, 6, 8, 10)

**Question 36:** Create a tuple of random numbers.

In [38]:
# 36. Create a tuple of random numbers.
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
random_tuple

(62, 36, 39, 5, 71)

**Question 37:** Check if a tuple is sorted.

In [39]:
# 37. Check if a tuple is sorted.
is_sorted = my_tuple == tuple(sorted(my_tuple))
is_sorted

True

**Question 38:** Rotate a tuple to the left by `n` positions.

In [40]:
# 38. Rotate a tuple to the left by `n` positions.
n = 2
rotated_tuple = my_tuple[n:] + my_tuple[:n]
rotated_tuple

(3, 4, 5, 1, 2)

**Question 39:** Rotate a tuple to the right by `n` positions.

In [41]:
# 39. Rotate a tuple to the right by `n` positions.
n = 2
rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
rotated_tuple

(4, 5, 1, 2, 3)

**Question 40:** Create a tuple of the first 5 Fibonacci numbers.

In [42]:
# 40. Create a tuple of the first 5 Fibonacci numbers.
a, b = 0, 1
fibonacci_tuple = ()
for _ in range(5):
    fibonacci_tuple += (a,)
    a, b = b, a + b
fibonacci_tuple

(0, 1, 1, 2, 3)

**Question 41:** Create a tuple from user input.

In [43]:
# 41. Create a tuple from user input.
user_input = input('Enter comma-separated values: ')
tuple_from_input = tuple(map(int, user_input.split(',')))
tuple_from_input

Enter comma-separated values:  5,6,9,4,61,5

(5, 6, 9, 4, 61, 5)

**Question 42:** Swap two elements in a tuple.

In [44]:
# 42. Swap two elements in a tuple.
index1, index2 = 1, 3
my_list = list(my_tuple)
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
swapped_tuple = tuple(my_list)
swapped_tuple

(1, 4, 3, 2, 5)

**Question 43:** Reverse the elements of a tuple.

In [45]:
# 43. Reverse the elements of a tuple.
reversed_tuple = my_tuple[::-1]
reversed_tuple

(5, 4, 3, 2, 1)

**Question 44:** Create a tuple of the first `n` powers of 2.

In [46]:
# 44. Create a tuple of the first `n` powers of 2.
n = 5
powers_of_2 = tuple(2**i for i in range(n))
powers_of_2

(1, 2, 4, 8, 16)

**Question 45:** Find the longest string in a tuple of strings.

In [47]:
# 45. Find the longest string in a tuple of strings.
string_tuple = ('apple', 'banana', 'cherry', 'date')
longest_string = max(string_tuple, key=len)
longest_string

'banana'

**Question 46:** Find the shortest string in a tuple of strings.

In [48]:
# 46. Find the shortest string in a tuple of strings.
shortest_string = min(string_tuple, key=len)
shortest_string

'date'

**Question 47:** Create a tuple of the first `n` triangular numbers.

In [49]:
# 47. Create a tuple of the first `n` triangular numbers.
n = 5
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
triangular_numbers

(1, 3, 6, 10, 15)

**Question 48:** Check if a tuple contains another tuple as a subsequence.

In [50]:
# 48. Check if a tuple contains another tuple as a subsequence.
subsequence = (3, 4)
contains_subsequence = all(item in my_tuple for item in subsequence)
contains_subsequence

True

**Question 49:** Create a tuple of alternating 1s and 0s of length `n`.

In [51]:
# 49. Create a tuple of alternating 1s and 0s of length `n`.
n = 10
alternating_tuple = (1, 0) * (n // 2) + (1,) * (n % 2)
alternating_tuple

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

**Question 50:** Create a tuple of alternating 1s and 0s of length `n`.

In [52]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = 10
alternating_tuple = (1, 0) * (n // 2) + (1,) * (n % 2)
alternating_tuple

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

## Set Based Practice Problem :